<mat-sidenav-container class="sidenav-container">
    <!-- Боковая панель -->
    <mat-sidenav #sidenav>
        <h2>{{ 'ChangeLanguage' | translate }}</h2>
        <button mat-button (click)="switchLanguage('ru')">{{ 'Russian' | translate }}</button>
        <button mat-button (click)="switchLanguage('en')">{{ 'English' | translate }}</button>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="main-content">
            <div class="menu-section">
                <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div class="content-section">
                <!-- Поиск -->
                <div class="search-container">
                    <mat-form-field appearance="outline" class="search-input">
                        <mat-label>{{ 'MovieSearch' | translate }}</mat-label>
                        <input
                                matInput
                                [(ngModel)]="searchTerm"
                                (input)="applyFilters()"
                                placeholder="{{ 'InputPlaceholder' | translate }}"
                        />
                    </mat-form-field>
                </div>

                <!-- Фильтры -->
                <div class="filters-container">
                    <!-- Фильтрация по жанрам -->
                    <mat-form-field appearance="outline" class="filter-field">
                        <mat-label>{{ 'GenreFilter' | translate }}</mat-label>
                        <mat-select
                                [(value)]="selectedGenres"
                                multiple
                                (selectionChange)="applyFilters()"
                        >
                            @for (genre of genres; track genre.id) {
                                <mat-option [value]="genre.id">
                                    {{ genre.name | translate }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>

                    <!-- Фильтрация по году выпуска -->
                    <mat-form-field appearance="outline" class="filter-field">
                        <mat-label>{{ 'YearFilter' | translate }}</mat-label>
                        <mat-select [(value)]="selectedYear" (selectionChange)="applyFilters()">
                            @for (year of releaseYears; track year) {
                                <mat-option [value]="year">
                                    {{ year }}
                                </mat-option>
                            }
                        </mat-select>
                        @if (selectedYear) {
                            <button
                                    mat-icon-button
                                    class="clear-button"
                                    (click)="clearFilter('year', $event)"
                            >
                                <mat-icon>clear</mat-icon>
                            </button>
                        }
                    </mat-form-field>

                    <!-- Фильтрация по дате добавления -->
                    <mat-form-field appearance="outline" class="filter-field">
                        <mat-label>{{ 'CreatedDateFilter' | translate }}</mat-label>
                        <input
                                matInput
                                [matDatepicker]="createdDatePicker"
                                [(ngModel)]="selectedCreatedDate"
                                (ngModelChange)="applyFilters()"
                                (click)="createdDatePicker.open()"
                        />
                        @if (!selectedCreatedDate) {
                            <mat-datepicker-toggle
                                    matSuffix
                                    class="datepicker-toggle"
                                    [for]="createdDatePicker"
                            ></mat-datepicker-toggle>
                        }
                        @if (selectedCreatedDate) {
                            <button
                                    mat-icon-button
                                    class="clear-button"
                                    (click)="clearFilter('createdDate', $event)"
                            >
                                <mat-icon>clear</mat-icon>
                            </button>
                        }
                        <mat-datepicker #createdDatePicker></mat-datepicker>
                    </mat-form-field>

                    <!-- Фильтрация по дате обновления -->
                    <mat-form-field appearance="outline" class="filter-field">
                        <mat-label>{{ 'UpdatedDateFilter' | translate }}</mat-label>
                        <input
                                matInput
                                [matDatepicker]="updatedDatePicker"
                                [(ngModel)]="selectedUpdatedDate"
                                (ngModelChange)="applyFilters()"
                                (click)="updatedDatePicker.open()"
                        />
                        @if (!selectedUpdatedDate) {
                            <mat-datepicker-toggle
                                    matSuffix
                                    class="datepicker-toggle"
                                    [for]="updatedDatePicker"
                            ></mat-datepicker-toggle>
                        }
                        @if (selectedUpdatedDate) {
                            <button
                                    mat-icon-button
                                    class="clear-button"
                                    (click)="clearFilter('updatedDate', $event)"
                            >
                                <mat-icon>clear</mat-icon>
                            </button>
                        }

                        <mat-datepicker #updatedDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- Карточки фильмов -->
                <div class="movies-grid">
                    <div class="add-movie-card" (click)="openAddMovie()">
                        <mat-icon class="add-icon">add</mat-icon>
                        <p>{{ 'AddNewMovie' | translate }}</p>
                    </div>

                    @for (movie of filteredMovies; track movie) {
                        <app-movie-item
                                [movie]="movie"
                                (delete)="deleteMovie(movie.id)"
                                (edit)="editMovie($event)"
                        ></app-movie-item>
                    }
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
